# Ignore virtual env, builds, large binaries
max/
*.dll
*.exe
*.pyd
*.lib
*.so
*.whl
venv/
.env/

# Ignore all observation and data files
*.pkl

# Ignore directories containing datasets and model weights
trajs_times/
new_model_weights/